<%- include('partials/head') %> 


<%- include('partials/navbar') %> 

<h1>The Home Page<%=  %> </h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, porro. Quidem, eos minima, eum soluta repudiandae quod optio cupiditate sint deleniti est natus esse sit quia quibusdam rem a inventore!</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti explicabo magnam eum tenetur ab delectus asperiores quia recusandae porro consequatur, ipsum fuga magni ducimus! Expedita dignissimos magni ipsam quos neque? hello can you seee this</p>

<h3>bro im too filthy</h3>
    
<%- include('partials/footer') %> 
